<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset='utf-8'>
    <meta name='viewport' , content='initial-scale=1.0, width=device-width'>
    <link href="https://fonts.googleapis.com/css?family=Russo+One&amp;subset=cyrillic,latin-ext" rel="stylesheet">
    @Styles.Render("~/bundle/main.css")
</head>

<body>
    <header class="header">
        <div class="logo">LADRAMHAIOLA</div>

        <nav class='menu'>
            <ul class="menu__list">
                <li class="menu__item"><a href="#">главная</a></li>
                <li class="menu__item"><a href="#">турниры</a></li>
                <li class="menu__item"><a href="#">статистика</a></li>
            </ul>
        </nav>
        <div>
            <button class="btn btn__login">регистрация</button>
        </div>
    </header>

    @RenderBody()

    <div class="popup popup__login">
        <div class="popup__title">
            <span>Регистрация</span>
            <div class="popup__close"></div>
        </div>
        <form class="form form__login">
            <label class="form__label">
                <span>введите почту/логин</span>
                <input class="form__input" />
            </label>
            <label class="form__label">
                <span>введите пароль</span>
                <input class="form__input" />
            </label>
            <div class="form__btn">
                <button type="submit" class="btn btn__submit">регистрация</button>
            </div>
        </form>
    </div>

    @Scripts.Render("~/bundle/bundle.js")
</body>
</html>