.btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px; }
  .btn__submit {
    background: green; }

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8); }
  .popup.active {
    display: block; }
  .popup__inner {
    background: #f1f1f1;
    width: 500px;
    margin: 100px auto; }
  .popup__top {
    padding: 10px 15px;
    display: flex;
    align-items: center; }
  .popup__title {
    flex: 1; }
  .popup__close {
    width: 15px;
    height: 15px;
    background: #000;
    cursor: pointer; }
  .popup__wrapper.hidden {
    display: none !important; }

.form {
  display: flex;
  flex-direction: column;
  padding: 0 15px 15px; }
  .form__label {
    display: flex;
    flex-direction: column;
    font-size: 0.9em; }
    .form__label span {
      margin-bottom: 5px; }
    .form__label:not(:last-child) {
      margin-bottom: 15px; }
  .form__btn {
    text-align: center; }

.miniprofile {
  display: flex; }

li {
  list-style: none; }

a, a:focus {
  text-decoration: none;
  color: #000; }

input {
  height: 27px;
  border: 1px solid blue;
  border-radius: 5px;
  padding-left: 5px; }

.header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 50px; }

.logo {
  margin-right: 20px; }

.menu {
  flex: 1;
  display: flex; }
  .menu__list {
    display: flex; }
  .menu__item {
    padding: 0 10px; }

* {
  margin: 0;
  padding: 0; }

body {
  font: 16px/1 "PT Sans", sans-serif; }

.main {
  margin: 0 auto;
  width: 100%;
  height: 350px;
  overflow: hidden; }
  .main-nav {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0; }

.card {
  flex: 1;
  position: relative;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease; }
  .card:nth-child(1) {
    background: #787878; }
  .card:nth-child(2) {
    background: #784078; }
  .card:nth-child(3) {
    background: #407878; }
  .card:nth-child(4) {
    background: #787840; }
  .card:nth-child(5) {
    background: #404040; }
  .card:nth-child(6) {
    background: #787878; }
  .card:nth-child(7) {
    background: #784078; }
  .card:nth-child(8) {
    background: #407878; }
  .card:nth-child(9) {
    background: #787840; }
  .card:nth-child(10) {
    background: #404040; }
  .card > * {
    z-index: 5px; }
  .card:focus-within {
    width: 8%; }
  .card:hover {
    flex: 4; }
    .card:hover > .card-title {
      display: inline; }
    .card:hover > .card-text {
      display: flex; }
  .card-title {
    display: none;
    font-size: 20px; }
  .card-text {
    display: none; }

