.btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px; }
  .btn__submit {
    background: green; }

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8); }
  .popup.active {
    display: block; }
  .popup__inner {
    background: #f1f1f1;
    width: 500px;
    margin: 100px auto; }
  .popup__top {
    padding: 10px 15px;
    display: flex;
    align-items: center; }
  .popup__title {
    flex: 1; }
  .popup__close {
    width: 15px;
    height: 15px;
    background: #000;
    cursor: pointer; }
  .popup__wrapper.hidden {
    display: none !important; }

.form {
  display: flex;
  flex-direction: column;
  padding: 0 15px 15px; }
  .form__label {
    display: flex;
    flex-direction: column;
    font-size: 0.9em; }
    .form__label span {
      margin-bottom: 5px; }
    .form__label:not(:last-child) {
      margin-bottom: 15px; }
  .form__btn {
    text-align: center; }

.miniprofile {
  display: flex; }

li {
  list-style: none; }

a, a:focus {
  text-decoration: none;
  color: #000; }

input {
  height: 27px;
  border: 1px solid blue;
  border-radius: 5px;
  padding-left: 5px; }

.header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 50px; }

.logo {
  margin-right: 20px; }

.menu {
  flex: 1;
  display: flex; }
  .menu__list {
    display: flex; }
  .menu__item {
    padding: 0 10px; }

* {
  margin: 0;
  padding: 0; }

body {
  font: 16px/1 "PT Sans", sans-serif; }

