@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "HAND-MADE";
}

<div class="main">
    <ul class="main-nav">
        <li class="card">
            <div>
                <a href="#">
                    <div class="card-title">Название</div>
                    <div class="card-text">
                        text text text text text text text text text text
                    </div>
                </a>
            </div>
        </li>
        <li class="card">
            <div>
                <a href="#">
                    <div class="card-title">Название</div>
                    <div class="card-text">
                        text text text text text text text text text text
                    </div>
                </a>
            </div>
        </li>
        <li class="card">
            <div>
                <a href="#">
                    <div class="card-title">Название</div>
                    <div class="card-text">
                        text text text text text text text text text text
                    </div>
                </a>
            </div>
        </li>
        <li class="card">
            <div>
                <a href="#">
                    <div class="card-title">Название</div>
                    <div class="card-text">
                        text text text text text text text text text text
                    </div>
                </a>
            </div>
        </li>
        <li class="card">
            <div>
                <a href="#">
                    <div class="card-title">Название</div>
                    <div class="card-text">
                        text text text text text text text text text text
                    </div>
                </a>
            </div>
        </li>
        <li class="card">
            <div>
                <a href="#">
                    <div class="card-title">Название</div>
                    <div class="card-text">
                        text text text text text text text text text text
                    </div>
                </a>
            </div>
        </li>
        <li class="card">
            <div>
                <a href="#">
                    <div class="card-title">Название</div>
                    <div class="card-text">
                        text text text text text text text text text text
                    </div>
                </a>
            </div>
        </li>
        <li class="card">
            <div>
                <a href="#">
                    <div class="card-title">Название</div>
                    <div class="card-text">
                        text text text text text text text text text text
                    </div>
                </a>
            </div>
        </li>
        <li class="card">
            <div>
                <a href="#">
                    <div class="card-title">Название</div>
                    <div class="card-text">
                        text text text text text text text text text text
                    </div>
                </a>
            </div>
        </li>
        <li class="card">
            <div>
                <a href="#">
                    <div class="card-title">Название</div>
                    <div class="card-text">
                        text text text text text text text text text text
                    </div>
                </a>
            </div>
        </li>
    </ul>
</div>