@model IEnumerable<LOC_WebApi.Models.Teams>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Турнир";
}
<div class="wrapper">
    <div class="tab">
        <h1 class="tab-title">Турнир №1</h1>
        <div class="tab-container">
            <div class="tab-round">
                <div class="a tab-group">
                    <div class="cell">
                        <div>1</div>
                        <div>
                            TeamTeamTeam
                        </div>
                        <div>W/L</div>
                    </div>
                    <div class="cell">
                        <div>2</div>
                        <div>TeamTeamTeam</div>
                        <div>W/L</div>
                    </div>
                </div>
                <div class="b tab-group">
                    <div class="cell">
                        <div>3</div>
                        <div>TeamTeamTeam</div>
                        <div>W/L</div>
                    </div>
                    <div class="cell">
                        <div>4</div>
                        <div>TeamTeamTeam</div>
                        <div>W/L</div>
                    </div>
                </div>
                <div class="c tab-group">
                    <div class="cell">
                        <div>5</div>
                        <div>TeamTeamTeam</div>
                        <div>W/L</div>
                    </div>
                    <div class="cell">
                        <div>6</div>
                        <div>TeamTeamTeam</div>
                        <div>W/L</div>
                    </div>
                </div>
                <div class="d tab-group">
                    <div class="cell">
                        <div>7</div>
                        <div>TeamTeamTeam</div>
                        <div>W/L</div>
                    </div>
                    <div class="cell">
                        <div>8</div>
                        <div>TeamTeamTeam</div>
                        <div>W/L</div>
                    </div>
                </div>
            </div>

            <div class="tab-round">
                <div class="e tab-group">
                    <div class="cell">
                        <div>1</div>
                        <div>TeamTeamTeam</div>
                        <div>W/L</div>
                    </div>
                    <div class="cell">
                        <div>2</div>
                        <div>TeamTeamTeam</div>
                        <div>W/L</div>
                    </div>
                </div>
                <div class="f tab-group">
                    <div class="cell">
                        <div>3</div>
                        <div>TeamTeamTeam</div>
                        <div>W/L</div>
                    </div>
                    <div class="cell">
                        <div>4</div>
                        <div>TeamTeamTeam</div>
                        <div>W/L</div>
                    </div>
                </div>
            </div>

            <div class="tab-round">
                <div class="g tab-group">
                    <div class="cell">
                        <div>1</div>
                        <div>TeamTeamTeam</div>
                        <div>W/L</div>
                    </div>
                    <div class="cell">
                        <div>2</div>
                        <div>TeamTeamTeam</div>
                        <div>W/L</div>
                    </div>
                </div>
            </div>

            <div class="tab-round">
                <div class="h tab-group">
                    <div class="cell">
                        <div>1</div>
                        <div>TeamTeamTeam</div>
                        <div>W/L</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>